body{
  background-color: whitesmoke;
}

.article{
  margin: left;
  margin: right;
  width: 90%;
  background-color: white;
 
}
.article p{
font-size: 16px;
text-align: justify;
margin: 2%;
padding-bottom: 2%;

}

h2{
  color: blue;
}

h1{
text-align: center;

}

img {
  width: 20%;
  
 }
p{
text-align: center;

  }